[submodule "summit_xl_sim"]
	path = summit_xl_sim
	url = git@github.com:mgonzs13/summit_xl_sim.git
[submodule "summit_xl_common"]
	path = summit_xl_common
	url = git@github.com:mgonzs13/summit_xl_common.git
[submodule "robotnik_sensors"]
	path = robotnik_sensors
	url = git@github.com:mgonzs13/robotnik_sensors.git
[submodule "robotnik_common"]
	path = robotnik_common
	url = git@github.com:mgonzs13/robotnik_common.git
[submodule "imu_compass"]
	path = imu_compass
	url = git@github.com:mgonzs13/imu_compass.git
[submodule "hector_gazebo"]
	path = hector_gazebo
	url = git@github.com:mgonzs13/hector_gazebo.git
[submodule "teb_local_planner"]
	path = teb_local_planner
	url = git@github.com:mgonzs13/teb_local_planner.git
